* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: row;
    border: 3px solid red;
}

.flex-item {
    width: 150px;
    height: 150px;
    border: 3px solid green;
}